* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav{
    overflow: hidden;
    background-color: #333;
    height: 5vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.link-wrapper{
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
}
.nav a{
    float: left;
    color: green;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 140%;
    font-family: Arial, Helvetica, sans-serif;
    transition: 3s;
    
}
.nav a:hover{
    transform:scale(1.2);
    transition: 0.3s;
    
}
.top-content{
    background-image: url(img/render1.png);
    background-size:cover;
    height: 95vh;
    filter: blur(2px);
}


#projects>h2 {
    text-align: center;
    background-color: #333;
    color:green ;
    padding: 15px;
}
.projects-inner {
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    background-color: #333;
}
.proj-container {
    align-items: center;
   
}

.proj-container>.title {
    margin-bottom: 0.7rem;
    color: green;
    font-size: 130%;
    
}
.proj-container img{
    border-radius: 20%;
}

.projects-inner .proj-container {
    margin-top: 5vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    
}

